/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: #93ada8;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
}

* {
    font-family: sans-serif;
}